
import { Props{{properCase componentName}} } from "./interfaces/interfaces";
import "./style/style.css";


const {{properCase componentName}} = (props:Props{{properCase componentName}}) => {
    return (
        <>
            <div className="{{lowerCase componentName}}">
                <h1>{{properCase componentName}} Component</h1>
            </div>
        </>
    )
}

export default {{properCase componentName}};