import { useReducer } from "react"
import * as actions from "./actions/actions";
import { {{properCase reducerName}}State } from "./interfaces/interfaces"
import { {{properCase reducerName}}Reducer } from "./state/{{lowerCase reducerName}}Reducer";

const INITIAL_STATE:{{properCase reducerName}}State = {
    counter: 10,
    previous: 15,
    changes: 20
}

export const {{properCase reducerName}}ReducerComponent = () => {
    const [{{lowerCase reducerName}}State, dispatch] = useReducer({{lowerCase reducerName}}Reducer, INITIAL_STATE);

    const increaseBy = (value: number) => {
        dispatch(actions.doIncrement(value));
    }
    const handleReset = () => {
        dispatch(actions.doReset());
    }
    return (
        <><div>
            <h1>{{properCase reducerName}} Reducer</h1>
            <pre> {JSON.stringify({{lowerCase reducerName}}State, null, 2)}</pre>
            <button onClick={()=>increaseBy(1)}>+1</button>
            <button onClick={()=>increaseBy(5)}>+5</button>
            <button onClick={handleReset}>reset</button>
        </div>
        </>
    )
}
